.skillContainers{
    padding: 20px 10px 20px 10px ;
}
.skilltitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: xx-large;
    color: rgb(251, 255, 255);
}
.skillCards {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    justify-content: center;
    align-content: center;   
    /*background-color: rgb(89, 87, 83);*/
    border-radius: 10px;
}
.skillCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    background-color: rgb(77, 69, 59);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
.skillLists {
    background-color: rgb(53, 64, 62);
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 6px;
    width: 80%;
}
.skillList {
    margin: 3px;
    padding: 5px;
    display: flex;
    justify-content: center;
    color: rgb(181, 255, 240);
    font-size: large;
    font-style: oblique;
}
.subtitle{
    color: rgba(169, 241, 239, 0.988);
    font-size:x-large;
    margin-bottom: 10px;
}